body {
  width: 60%;
  margin: 50px auto;
  background-color: #FFFFFF;
  padding: 15px 20px 20px 20px;
}

h1 {
  margin: 0;
  color: #000000;
  font-family: 'Sitka Display';
  font-size: 220%;
  text-align: center
}

h2 {
  color: #796BAE;
  font-family: 'Sitka Display'
}

h3 {
  text-align: center
}

a, a:visited, a:active {
  color: #796BAE;
  text-decoration: none;
}

p {
  font-family: 'Sitka Display'
}

.leftimg {
  float: left;
  margin: 15px 15px 15px 0;
}

.left{
  float: left;
}

.line {
  border-bottom: 1px solid #000000;
}

.main-menu{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

.main-menu li{
    display: inline-block;
    margin: 0;
    padding: 0;
    float: center; 
}

.main-menu a{
    text-decoration: none;
    padding: 10px;
    margin: 0;
    outline: none;
    font-size: 130%;
}

